@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;;
}

p {
    line-height: 1.5;
    font-size: 15px;
}

a {
    text-decoration: none;
    position: relative;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black {
    text-decoration: underline;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    right: 0;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.flex-1 {
    flex: 1;
    display: flex;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color:#6030b1;
}

.section:nth-child(even) {
    background-color: #f8f8f8;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width:1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    text-align: right;
}

.contact__btn {
    border: 2px solid #6030b1;
    border-radius: 50px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #6030b1;  
    color: white;             
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;              
    justify-content: flex-end;
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-align:right;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

.text-purple {
    color: #6030b1;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
        display: flex;
        font-display: column;
    }

.about-me__info--container {
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100;

/* Improving my own picture */
transform: scale(1.5);
padding-top: 8px;
}

.about-me__info--title {
    margin-bottom: 16px;
    padding: 30px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 80%;
    height: 80%;
}

/* TECH - STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(240, 237, 237, 0.956);
    align-items: center;
}

.language__img--wrapper {
    justify-content: center;
    background-color: rgba(240, 237, 237, 0.956);
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
}

.language:hover .language__name {
    transform: scale(1)
}

/* PROJECTS */

.project {
    margin-bottom: 135px;
}

.project__img {
    width: 100%;
    justify-content: center;
}

.project__wrapper {
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
    color:#1c1d25;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
    color:#1c1d25;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
    color:#1c1d25;
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
    color:#1c1d25;
}

.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms opacity 300ms;
    color:#1c1d25;
}

.project__description--title {
    font-size: 40px;
}

.project__description--para {
    margin: 16px 0;
    color:#1c1d25;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;

}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color:#1c1d25;
}

/* FOOTER */

footer {
    background-color: #242424;
    text-align: center;
}

.footer__logo {
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}
.footer__logo--img {
   width: 70px;
   height: 70px;
   justify-content: center;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-around;
    justify-content: center;

}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
    color: #fff;]
    justify-content: space-around;
    justify-content: center;

}

.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
}

.footer__anchor {
    margin-bottom: 20px;
    position: relative;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    nav {
        height: 68px;
    }
}